body {
    font-family: ProximaNova, system-ui, Roboto, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.first, .footer {
    background-color: #1F2937;
    color: white;
}

.first {
    padding: 16px 32px 32px;
}

.first-hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 0px;
}

.first-hero h2 {
    font-size: 18px;
    color: #E5E7EB;
}

.first-header {
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 55px;
}

.first-button {
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #3882F6;
    margin-bottom: 15px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
} 

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.first-headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.first-heroandimage {
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
    flex-wrap: wrap;
}

.second h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.second-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.subtext {
    padding-bottom: 20px;
    padding-top: 10px;
    font-weight: 150;
}

button {
    background-color: #3882F6; 
    color: white;
}

.third {
    background-color: #E5E7EB;
    padding: 100px 150px;
}

.third-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.third-textwriter {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    padding-right: 20px;
    padding-top: 10px;
}

.fourth {
    padding: 100px 160px;
}

.fourth-button {
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.fourth-box {
    background-color: #3882F6;
    color: white;
    padding: 40px 200px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    flex-wrap: wrap;
}

.fourth-actioncall {
    font-weight: 700;
}

.fourth-signup {
    font-weight: 200;
}

div.footer {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}